*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: 50px;
}

#root > div {
  display:flex;
  flex-wrap: wrap;
  background-color:black;
}
h1{
  letter-spacing: 3px;
  padding-top: 40px;
  text-align: center;
  font-size: 26px;
  font-family: Verdana, sans-serif;
}
p{
  padding: 40px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.contenu{
  
  flex: 12;
  min-width: 390px;
  color: white;
  
}
.malist{
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  flex:1;
  border-right: 1px solid white;
}


@media screen and (max-width: 630px) {
  
  .malist{
 
    flex-direction: row;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid white;

  }
}